@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model LoginModel


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <form method="post" id="account" class="login-form">
        <h1>magaria</h1>
        <h3>login now</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" placeholder="your email" class="box">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input type="text" asp-for="Input.Password" placeholder="your password" class="box" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn" value="Login now"/>
        </div>

    </form>
