@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<main>
    <div class="login-container">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login-form">
            <h3>Register now</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <input asp-for="Input.Email" placeholder="your email" class="box"> <br/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" placeholder="your password" class="box">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" placeholder="confirm password" class="box">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="login now" class="btn">
        </form>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
