@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #eee;
    min-height: 100vh;
    padding-bottom: 25%;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-style: italic;
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: #02002d;
}

    .heading span {
        background: orange;
        color: rgb(255, 255, 255);
        display: inline-block;
        padding: .5rem 3rem;
        /* clip-path: polygon(90% 0, 90% 0%, 100% 99%, 0% 100%, 7% 100%, 0% 0%); */
        clip-path: polygon(100% 0%, 93% 100%, 100% 100%, 0% 100%, 7% 0%, 0% 0%);
    }

.inline {
    display: inline-block;
}

.btn {
    position: relative;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 3rem;
    /* border: 0.2rem solid var(--black); */
    color: var(--black);
    cursor: pointer;
    background: #eee;
}

    .btn:hover {
        background: orange;
        color: #fff;
    }

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-items: margin-left;
    background: #02002d;
    box-shadow: var(--box-shadow);
}

    .header .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: whitesmoke   ;
    }

        .header .logo i {
            color: #02002d;
        }

    .header .navbar a {
        font-size: 1.7rem;
        margin: 0 1rem;
        color: whitesmoke;
    }

        .header .navbar a:hover {
            color: orange;
        }

    .header .icons div {
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        border-radius: .5rem;
        background: #eee;
        color: var(--black);
        font-size: 2rem;
        margin-left: .3rem;
        cursor: pointer;
        text-align: center;
    }

        .header .icons div:hover {
            background: orange;
            color: #fff;
        }

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

    .header .search-form.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .search-form input {
        height: 100%;
        width: 100%;
        background: none;
        text-transform: none;
        font-size: 1.6rem;
        color: var(--black);
        padding: 0 1.5rem;
    }

    .header .search-form label {
        font-size: 2.2rem;
        padding-right: 1.5rem;
        color: var(--black);
        cursor: pointer;
    }

        .header .search-form label:hover {
            color: orange;
        }

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

    .header .shopping-cart.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .shopping-cart .box {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
        margin: 1rem 0;
    }

        .header .shopping-cart .box img {
            height: 10rem;
        }

        .header .shopping-cart .box .fa-trash {
            font-size: 2rem;
            position: absolute;
            top: 50%;
            right: 2rem;
            cursor: pointer;
            color: var(--light-color);
            transform: translateY(-50%);
        }

            .header .shopping-cart .box .fa-trash:hover {
                color: orange;
            }

        .header .shopping-cart .box .content h3 {
            color: #02002d;
            font-size: 1.7rem;
            padding-bottom: 1rem;
        }

        .header .shopping-cart .box .content span {
            color: var(--light-color);
            font-size: 1.6rem;
        }

        .header .shopping-cart .box .content .quantity {
            padding-left: 1rem;
        }

    .header .shopping-cart .total {
        font-size: 2.5rem;
        padding: 1rem 0;
        text-align: center;
        color: var(--black);
    }

    .header .shopping-cart .btn {
        display: block;
        text-align: center;
        margin: 1rem;
    }

.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 35rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

    .header .login-form.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .login-form h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--black);
    }

    .header .login-form .box {
        width: 100%;
        margin: .7rem 0;
        background: #eee;
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: var(--black);
        text-transform: none;
    }

    .header .login-form p {
        font-size: 1.4rem;
        padding: .5rem 0;
        color: var(--light-color);
    }

        .header .login-form p a {
            color: #02002d;
            text-decoration: underline;
        }

.top-space {
    position: relative;
}

.bottom-space {
    position: relative;
}

.home {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    padding-bottom: 0rem;
    padding-left: 0;
    padding-right: 0;
}

    .home .content {
        position: absolute;
        text-align: center;
        width: 60rem;
    }

        .home .content h3 {
            color: #02002d;
            font-size: 5rem;
        }

            .home .content h3 span {
                color: orange;
            }

        .home .content p {
            color: white;
            font-size: 2rem;
            padding: 1rem 0;
            line-height: 1.8;
        }

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .features .box-container .box {
        padding: 3rem 2rem;
        background: #fff;
        outline: var(--outline);
        outline-offset: -1rem;
        text-align: center;
        box-shadow: var(--box-shadow);
    }

        .features .box-container .box:hover {
            outline: var(--outline-hover);
            outline-offset: 0rem;
        }

        .features .box-container .box img {
            margin: 1rem 0;
            height: 15rem;
        }

        .features .box-container .box h3 {
            font-size: 2.5rem;
            line-height: 1.8;
            color: var(--black);
        }

        .features .box-container .box p {
            font-size: 1.5rem;
            line-height: 1.8;
            color: var(--light-color);
            padding: 1rem 0;
        }

.products .product-slider {
    padding: 1rem;
}

    .products .product-slider:first-child {
        margin-bottom: 2rem;
    }

    .products .product-slider .box {
        background: #fff;
        border-radius: .5rem;
        text-align: center;
        padding: 3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2s linear;
    }

        .products .product-slider .box:hover {
            outline-offset: 0rem;
            outline: var(--outline-hover);
        }

        .products .product-slider .box img {
            height: 20rem;
        }

        .products .product-slider .box h3 {
            font-size: 2.5rem;
            color: var(--black);
        }

        .products .product-slider .box .price {
            font-size: 2rem;
            color: var(--light-color);
            padding: .5rem 0;
        }

        .products .product-slider .box .stars i {
            font-size: 1.7rem;
            color: #02002d;
            padding: .5rem 0;
        }

.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

    .categories .box-container .box {
        padding: 3rem 2rem;
        border-radius: .5rem;
        background: #fff;
        box-shadow: var(--box-shadow);
        outline: var(--outline);
        outline-offset: -1rem;
        text-align: center;
    }

        .categories .box-container .box:hover {
            outline: var(--outline-hover);
            outline-offset: 0rem;
        }

        .categories .box-container .box img {
            margin: 1rem 0;
            height: 15rem;
        }

        .categories .box-container .box h3 {
            font-size: 2rem;
            color: var(--black);
            line-height: 1.8;
        }

        .categories .box-container .box p {
            font-size: 1.7rem;
            color: var(--light-color);
            line-height: 1.8;
            padding: 1rem 0;
        }

.review .review-slider {
    padding: 1rem;
}

    .review .review-slider .box {
        background: #fff;
        border-radius: .5rem;
        text-align: center;
        padding: 3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2s linear;
    }

        .review .review-slider .box:hover {
            outline: var(--outline-hover);
            outline-offset: 0rem;
        }

        .review .review-slider .box img {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
        }

        .review .review-slider .box p {
            padding: 1rem 0;
            line-height: 1.8;
            color: var(--light-color);
            font-size: 1.5rem;
        }

        .review .review-slider .box h3 {
            padding-bottom: .5rem;
            color: var(--black);
            font-size: 2.2rem;
        }

        .review .review-slider .box .stars i {
            color: #02002d;
            font-size: 1.7rem;
        }

.catalog .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 0.35fr));
    gap: 3rem;
    width: 100%;
}

    .catalog .box-container .box {
        max-width: 350px;
        overflow: hidden;
        border-radius: 3rem;
        box-shadow: var(--box-shadow);
        background: #fff;
    }

        .catalog .box-container .box img {
            margin-left: 40%;
            margin-top: 10px;
            height: 25rem;
            object-fit: cover;
        }

        .catalog .box-container .box .content {
            padding: 2rem;
        }

            .catalog .box-container .box .content .icons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 1.5rem;
                margin-bottom: 1rem;
                border-bottom: var(--border);
            }

                .catalog .box-container .box .content .icons a {
                    color: var(--light-color);
                    font-size: 1.5rem;
                }

                    .catalog .box-container .box .content .icons a:hover {
                        color: orange;
                    }

                    .catalog .box-container .box .content .icons a i {
                        color: #02002d;
                        padding-right: .5rem;
                    }

            .catalog .box-container .box .content h3 {
                line-height: 1.8;
                color: #02002d);
                font-size: 2.2rem;
                padding: .5rem 0;
            }

            .catalog .box-container .box .content p {
                line-height: 1.8;
                color: var(--light-color);
                font-size: 1.5rem;
                padding: .5rem 0;
            }

main {
    bottom: 0;
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh-85px-443px);
}

.footer {
    bottom: 0;
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 1000;
}

    .footer .box-container {
        padding-left: 6%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(51rem, 1fr));
        gap: 1.5rem;
    }

        .footer .box-container .box h3 {
            font-size: 2.5rem;
            color: var(--black);
            padding: 1rem 0;
        }

            .footer .box-container .box h3 i {
                color: #02002d;
            }

        .footer .box-container .box .links {
            display: block;
            font-size: 1.5rem;
            color: var(--light-color);
            padding: 1rem 0;
        }

            .footer .box-container .box .links i {
                color: #02002d;
                padding-right: .5rem;
            }

            .footer .box-container .box .links:hover i {
                padding-right: 2rem;
            }


        .footer .box-container .box p {
            line-height: 1.8;
            font-size: 1.5rem;
            color: var(--light-color);
            padding: 1rem 0;
        }

        .footer .box-container .box .share a {
            height: 4rem;
            width: 4rem;
            line-height: 4rem;
            border-radius: .5rem;
            font-size: 2rem;
            color: var(--black);
            margin-right: .2rem;
            background: #eee;
            text-align: center;
        }

            .footer .box-container .box .share a:hover {
                background: orange;
                color: #fff;
            }

        .footer .box-container .box .email {
            width: 100%;
            margin: .7rem 0;
            padding: 1rem;
            border-radius: .5rem;
            background: #eee;
            font-size: 1.6rem;
            color: var(--black);
            text-transform: none;
        }

        .footer .box-container .box .payment-img {
            margin-top: 2rem;
            height: 3rem;
            display: block;
        }

    .footer .credit {
        text-align: center;
        margin-top: 2rem;
        padding: 1rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color: var(--black);
        border-top: var(--border);
    }

        .footer .credit span {
            color: #02002d;
        }


.vid-bg {
    object-fit: fill;
    min-width: 100%;
    min-height: 100%;
}


/* media queries  */

@media (max-width:1700px) {
    .bottom-space {
        height: 0px;
    }

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:991px) {
    .bottom-space {
        height: 120px;
    }

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    .bottom-space {
        height: 450px;
    }

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

        .header .navbar.active {
            right: 2rem;
            transition: .4s linear;
        }

        .header .navbar a {
            font-size: 2rem;
            margin: 2rem 2.5rem;
            display: block;
        }
}

@media (max-width:500px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .footer {
        text-align: center;
    }

        .footer .box-container .box .payment-img {
            margin: 2rem auto;
        }
}

/* .price_sorting {
    border-color: #130f40;
    color: #130f40;
    border-style: groove;
    border-width: 1px;
    float: right;
    margin-bottom: 20px;
} */

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #130f40 inset;
}

.catalog-container {
    position: relative;
    display: flex;
    width: 100%;
}

.fixed-filter {
    min-width: 200px;
    left: 0;
    background-color: #130f40;
    position: fixed;
    height: 100vh;
    width: 20%;
    z-index: 2;
}

    .fixed-filter h1 {
        line-height: 1.8;
        font-size: 4rem;
        color: whitesmoke;
        border-bottom: var(--border);
        border-color: white;
        margin: 1rem;
    }

.catalog-container .filter {
    height: 100vh;
    width: 20%;
    z-index: 1;
}

.catalog-container .product-side {
    color: #130f40;
    width: 80%;
}







.reg-container {
    align-self: center;
    align-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.registration {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 600px;
    position: relative;
    border-style: groove;
    border-radius: 10px;
    width: 40%;
    background-color: var(--black);
}

/* login container */
.login-container {
    position: relative;
    padding-top: 40px;
    box-shadow: var(--box-shadow);
    background-color: whitesmoke;
    margin-left: 35%;
    margin-top: 6%;
    text-align: center;
    font-size: 20px;
    width: 30%;
    height: 40rem;
    align-items: center;
    border-radius: 10px;
}

    .login-container h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--black);
    }

    .login-container .box {
        width: 70%;
        margin: 1rem 0;
        background: #eee;
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: var(--black);
        text-transform: none;
    }

    .login-container p {
        font-size: 1.4rem;
        padding: .5rem 0;
        color: var(--light-color);
    }

        .login-container p a {
            color: #02002d;
            text-decoration: underline;
        }

/* product container */
.product-container {
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: var(--box-shadow);
    background-color: whitesmoke;
    margin-left: 5%;
    margin-top: 6%;
    font-size: 20px;
    max-width: 90%;
    height: 65rem;
    border-radius: 10px;
}

    .product-container .left-column {
        width: 50%;
        position: relative;
    }




.filter-container .right-colm {
    position: relative;
    width: 500px;
    margin-left: 30px;
}


.product-container .left-column .image-container {
    align-items:center;
    position: relative;
    height: 65%;
    width: 20%;
}

    .product-container .left-column .image-container img {
        margin-top: 30%;
        position: absolute;
        border-radius: 10px;
        height: 125%;
        width: 130%;
        left: 180%;
    }

.product-container .left-column .slider-container {
    position: relative;
    height: 35%;
    width: 100%;
}

    .product-container .left-column .slider-container .slider {
        position: fixed;
        height: 100%;
        width: 100%;
        /* background-color: orange; */
    }

.product-container .right-column .product-header {
    height: 75%;
}

    .product-container .right-column .product-header h4 {
        border-top: solid rgba(0,0,0,.1);
    }

.product-container .right-column h4 {
    color: #666;
}

.product-container .right-column .product-header .product-description {
    color: rgb(72, 72, 72);
    font-size: 0.8em;
    position: relative;
}

.product-container .right-column .product-footer {
    height: 25%;
}

    .product-container .right-column .product-footer footer {
        border-top: solid rgba(0,0,0,.1);
        position: relative;
    }

        .product-container .right-column .product-footer footer p {
            padding-top: 15px;
            font-size: 20px;
            padding-left: 10px;
        }





.product-container .right-column {
    position: relative;
    width: 35%;
    margin-left: 30px;
}





.product-container .right-column {
    position: relative;
    width: 35%;
    margin-left: 30px;
}


.product-add-container {
    display: flex;
    background: whitesmoke;
    position: relative;
    margin-left: 35%;
    width: 30vw;
    height: 80vh;
    border-radius: 0.9375em;
    border-style: groove;
    box-shadow: var(--box-shadow);
}

    .product-add-container h1 {
        color: #130f40;
        margin: 0.9375em;
        font-size: 1.875em;
        border-bottom: var(--border);
        border-color: #130f40;
        margin-bottom: 1.25em;
    }

    .product-add-container label {
        margin: 0.4375em;
        font-size: 1.25em;
    }

    .product-add-container input {
        margin: 0.4375em;
        width: 90%;
        height: 1.875em;
        border-radius: 0.625em;
        border-color: rgb(0, 0, 0, 0.2);
        border-style: groove;
    }

    .product-add-container .description {
        margin: 0.3125em;
        border-radius: 0.625em;
        border-style: groove;
        width: 90%;
        height: 7.8125em;
    }

    .product-add-container .price_sorting {
        border-radius: 0.3125em;
        border-style: groove;
    }

    .product-add-container .btn {
        padding: 0;
        width: 30%;
        border-radius: 0.9375em;
        border-style: groove;
    }

/*About Us*/

.wrapper {
    background: rgb(255,255,255);
    max-width: 80%;
    width: 100%;
    height: auto;
    position: relative;
    left: 10%;
    box-shadow: var(--box-shadow);
    border-color: black;
    text-align: center;
    border-radius: 15px;
    padding: 3%;
}

    .wrapper h2 {
        font-size: 30px;
        color: rgb(68, 68, 68);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1875em;
        padding-bottom: 2%;
    }

    .wrapper .form .form_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

        .wrapper .form .form_container .form_left,
        .wrapper .form .form_container .form_right {
            width: 48%;
        }

    .wrapper .form .input_field input[type="text"],
    .wrapper .form textarea {
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        border: 1.5px solid white;
        border-radius: 15px;
        background: rgba(191, 182, 182, 0.25);
    }

    .wrapper .form textarea {
        height: 90%;
        resize: none;
    }
    .wrapper p {
        text-indent: 5%;
        text-align: justify;
        font-size: 16px;
    }
/*        .wrapper p::first-letter {
            font-size: 300%;
        }*/
    .wrapper .form .btn {
        width: 8em;
        text-align: center;
        color: white;
        background-color: #02002d;
    }


        .wrapper .form .btn a {
            color: #fff;
        }
