@{
    ViewData["Title"] = "Product Page";
}
<main>
    <div class="product-container">
        <div class="left-column">
            <div class="image-container">
                <img src="../image/blog-1.jpg">
            </div>
            <div class="slider-container">
                <div class="slider">

                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="product-header">
                <header>
                    <h1>Product</h1> 
                    <h4>Category</h4>
                    <h3 class="space" style="height: 45px;"></h3>
                </header>
                    <p class="product-description">
                        Product description looks like this
                    </p>
            </div>
            <div class="product-footer">
                <footer>
                    <p>17.99$</p>
                    <a href="#" class="btn"> Add To Cart</a>
                </footer>
            </div>
        </div>
    </div>
</main>