@model List<Product>
@{
    var FilteredList = new LinkedList<Product>();
    ViewData["Title"] = "Catalog Page";
}

<h1 class="top-space" style="height: 42px;"></h1>



<main>
        <div class="fixed-filter">
        <h1>Filter</h1>
        <select id="sort" style="margin: 5%;" class="price_sorting">
            <option class="type" value="Featured">Featured</option>
            <option value="Low">Low To High</option>
            <option value="High">High To Low</option>
        </select>
    </div>
    <div class="catalog-container">
        <div class="filter"></div>
        <div class="product-side">
            <section class="catalog" id="catalog">
                <div class="box-container">
                    @foreach(var product in @Model){
                            <div class="box">
                                <img src="~/images/blog-1.jpg">
                                <div class="content">
                                    <div class="icons">
                                        <h3>@product.Name</h3>
                                    </div>
                                    <div class="inline">
                                        <p style="font-size: 20px;padding-left: 10px;">@product.Price $</p>
                                        <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-product="@product" class="btn">read more</a>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </section>
        </div>
    </div>
    
    <!-- blogs section ends -->
       
</main>
@*<script>
    window.onload = function {
        var sorter = document.getElementById('sort');
        var value = sorter.options[sorter.selecterIndex].value;
        if(value=="Featured")
            @FilteredList = @Model;
        else if (value == "Low") {
            for (let product in @Model) { 
                
            }
        }
            
    }
</script>*@


