@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}
<section class="home" id="home">
    <video src="~/videos/vid.mp4" class="vid-bg" autoplay loop muted></video>

    <div class="content">
        <h3>i <span>love</span> skateboarding</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        <a href="#" class="btn">shop now</a>
    </div>
    
</section>

<main>
    <h1 class="heading"> Our <span>Products</span> </h1>

    <section class="catalog" id="catalog">
        <div class="box-container">
            foreach(var obj in Model){
                <div class="box">
                    <img src="~/images/skate.png" alt="">
                    <div class="content">
                        <div class="icons">
                            <h3>Skate</h3>
                        </div>
                        <p style="font-size: 20px;padding-left: 10px;">199.99$</p>
                        <a href="#" class="btn">read more</a>
                    </div>
                </div>
            }         
    </div>
    </section>
    
</main>