 

@{
    ViewData["Title"] = "Home Page";
}
<section class="home" id="home">
    <video src="~/videos/vid.mp4" class="vid-bg" autoplay loop muted></video>

    <div class="content">
        <h3>i <span>love</span> skateboarding</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        <a href="#" class="btn">shop now</a>
    </div>
    
</section>


<main>
    <h1 class="heading"> Our <span>Products</span> </h1>

    <section class="blogs" id="blogs">
        <div class="box-container">
            
            <div class="box">
                <img src="../images/blog-1.jpg" alt="">
                <div class="content">
                    <div class="icons">
                        <h3>fresh and organic vegitables and fruits</h3>
                    </div>
                    <p style="font-size: 20px;padding-left: 10px;">17.99$</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>
            <div class="box">
                <img src="../images/blog-1.jpg" alt="">
                <div class="content">
                    <div class="icons">
                        <h3>fresh and organic vegitables and fruits</h3>
                    </div>
                    <p style="font-size: 20px;padding-left: 10px;">17.99$</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>
    
            <div class="box">
                <img src="../images/blog-2.jpg" alt="">
                <div class="content">
                    <div class="icons">
                        <h3>fresh and organic vegitables and fruits</h3>
                    </div>
                    <p style="font-size: 20px;padding-left: 10px;">17.99$</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>
    
            <div class="box">
                <img src="../images/blog-3.jpg" alt="">
                <div class="content">
                    <div class="icons">
                        <h3>fresh and organic vegitables and fruits</h3>
                    </div>
                        <p style="font-size: 20px;padding-left: 10px;">17.99$</p>
                        <a href="#" class="btn">read more</a>
                </div>
            </div>
    
        </div>
    
    </section>
    
</main>