@model List<Product>

@{

}


<main>
    <section class="catalog" id="catalog">
        <div class="box-container">
            @foreach(var obj in Model){
                <div class="box">
                    @{
                        var base64 = Convert.ToBase64String(obj.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgSrc" />
                    <div class="content">
                        <div class="icons">
                            <h3>@obj.Name</h3>
                        </div>
                        <div class="inline">
                            <p style="font-size: 20px;padding-left: 10px;">@obj.Price $</p>
                        </div>
                    </div>
                </div>
            }
        </div>  
    </section>
    <p>-----------------------------------------</p>
</main>